.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: 600;
        font-size: 17px;
        text-align: center;
        margin-bottom: 15px;
    }

    .pick-hour-container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding-bottom: 20px;
        padding-top: 20px;

        button {
            padding: 5px 15px;
            border: 1px solid green;
        }
    }

    .btn-save-schedule {
        margin-top: 20px;
    }
}